/* Nav Bar */
.navbar{
    background-color: transparent;
    height: 90px;
    z-index: 20;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px 20px;
    color: white;
    width: 100%;
}

@media only screen and (max-width: 768px) {
  .navbar {
    justify-content: space-between;
    padding: 3px 7px;
  }
}
/* nav drop down */
.navbar.active{
    background-color: #ffffff;
    color: #000000;
    position: fixed;
    transition: all 0.6s ease;
    box-shadow:  #00000013 5px 5px 15px 5px;
}

ul li a:hover{
  border-bottom: 2px solid #004f18;
  transition: all 0.8s ease;
}


